// Loader
.loader {
  &::after {
    content: "";
    @include positionItem(absolute, 0, initial, 0, initial, var(--backRightIn));
    @include transition(1s);
    background: #fff;
    width: 50%;
    height: 100%;
  }
  &::before {
    content: "";
    @include positionItem(absolute, 0, initial, initial, 0, var(--backLefttIn));
    @include transition(1s);
    background: #fff;
    width: 50%;
    height: 100%;
  }
  .spinner {
    .item {
      &.item-1 {
        background-color: #166434;
        top: 0;
        left: 0;
        z-index: 1;
        animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
      &.item-2 {
        background-color: #d2b065;
        top: 0;
        right: 0;
        animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
      &.item-3 {
        background-color: #00396a;
        bottom: 0;
        right: 0;
        z-index: 1;
        animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
      &.item-4 {
        background-color: #000000;
        bottom: 0;
        left: 0;
        animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
    }
  }
  @keyframes item-1_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, 30px);
    }
    50% {
      transform: translate(30px, 30px);
    }
    75% {
      transform: translate(30px, 0);
    }
  }
  @keyframes item-2_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-30px, 0);
    }
    50% {
      transform: translate(-30px, 30px);
    }
    75% {
      transform: translate(0, 30px);
    }
  }
  @keyframes item-3_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, -30px);
    }
    50% {
      transform: translate(-30px, -30px);
    }
    75% {
      transform: translate(-30px, 0);
    }
  }
  @keyframes item-4_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(30px, 0);
    }
    50% {
      transform: translate(30px, -30px);
    }
    75% {
      transform: translate(0, -30px);
    }
  }
}

/* Style RadioButton */
.radioButton {
  input {
    &:checked ~ .checkmark {
      border: 1px solid #e97652;
      background-color: #fff !important;
    }
  }
  .checkmark {
    &:after {
      transform: scale(0);
      transition: 0.5s;
    }
  }
  input:checked ~ .checkmark:after {
    transform: scale(1.1);
  }
}

// Click Nav
.click-nav {
  .handle {
    height: 1px;
    width: 35px;
    margin: 10px auto;
    transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
    transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
  }
  .closed {
    transform: rotate(45deg);
    width: 35px;
    position: relative;
    top: -5px;
    &:nth-of-type(1) {
      top: 5px;
    }
    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }
    &:nth-of-type(3) {
      display: none;
    }
  }
}

// Header
header {
  .nav-list-header {
    li {
      &.active {
        a {
          color: #e97652 !important;
        }
      }
    }
  }
}

// Slider Features
.sliderFeatures {
  .owl-dots {
    display: none;
  }
  .owl-nav {
    @include positionItem(
      absolute,
      50%,
      initial,
      initial,
      initial,
      translateY(-50%)
    );
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
    button {
      width: 55px;
      height: 55px;
      background-color: rgba(233, 118, 82, 20%) !important;
      color: #e97652 !important;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: #e97652 !important;
        color: #fff !important;
      }
      i {
        font-size: 30px;
      }
    }
  }
}

// Slider What Said
.sliderWhatSaid {
  // .owl-item{
  //   .item{
  //     width: 200px;
  //   }
  //   &.center{
  //     .item{
  //       width: 700px;
  //     }
  //   }
  // }
  .owl-dots {
    display: none;
  }
  .owl-nav {
    position: absolute;
    top: -100px;
    display: flex !important;
    gap: 30px;
    padding: 0 10px;
    button {
      width: 45px;
      height: 45px;
      background-color: rgba(233, 118, 82, 20%) !important;
      color: #e97652 !important;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: #e97652 !important;
        color: #fff !important;
      }
      i {
        font-size: 30px;
      }
    }
  }
}

// Circle Animation
.play-circle {
  &:before {
    transform: translateX(-50%) translateY(-50%);
    animation: pulse-border 1500ms ease-out infinite;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

// Dir
html[dir="rtl"] {
  // Slider Features
  .sliderFeatures {
    .owl-nav {
      left: -200px;
    }
  }
  // Slider What Said
  .sliderWhatSaid {
    .owl-nav {
      left: 0px;
    }
  }
}

html[dir="ltr"] {
  // Slider Features
  .sliderFeatures {
    .owl-nav {
      right: -200px;
    }
  }
  // Slider What Said
  .sliderWhatSaid {
    .owl-nav {
      right: 0px;
    }
  }
}

// Tabs
.tabs-view {
  .text-blue-600,
  .dark\:hover\:text-blue-500:hover {
    color: #e97652 !important;
    font-family: "SF-Medium", sans-serif !important;
    .box {
      border: 2px solid #e97652 !important;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 10px;
        height: 10px;
        background-color: #e97652;
        border-radius: 50%;
      }
    }
  }
}

// Media Screen
@media screen and (max-width: 1023px) {
  .list-head {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
  }

  // Slider Features
  .sliderFeatures {
    .owl-nav {
      width: 100%;
      flex-direction: row;
      justify-content: center;
      bottom: -90px;
      top: initial;
      transform: initial;
    }
  }
  html[dir="rtl"] {
    // Slider Features
    .sliderFeatures {
      .owl-nav {
        left: 0px;
      }
    }
  }

  html[dir="ltr"] {
    // Slider Features
    .sliderFeatures {
      .owl-nav {
        right: 0px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  // Slider What Said
  .sliderWhatSaid {
    .owl-nav {
      top: 100%;
      justify-content: center;
      width: 100%;
      margin-top: 12px;
    }
  }
}
