// Font Import Cdn
@font-face {
  font-family: 'SF-Bold';
  src: url('../../fonts/SF-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'SF-Book';
  src: url('../../fonts/SF-Book.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF-Light';
  src: url('../../fonts/SF-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'SF-Medium';
  src: url('../../fonts/SF-Medium.ttf') format('truetype');
  font-weight: 400;
}

// Local Style Page
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  outline: none !important;
}

html[dir="rtl"] {
  body {
    font-family: 'SF-Book', sans-serif;
  }
}

html[dir="ltr"] {
  body {
    font-family: 'SF-Book', sans-serif;
  }
}

.SF-bold {
  font-family: 'SF-Bold', sans-serif !important;
}

.SF-light {
  font-family: 'SF-Light', sans-serif !important;
}

.SF-medium {
  font-family: 'SF-Medium', sans-serif !important;
}

select, input, textarea, button{
  outline: none !important;
  box-shadow: initial !important;
  &:focus{
    box-shadow: initial !important;
  }
}

a, img, button{
  transition: 0.5s;
}

button{
  &:hover{
    transform: scale(0.9);
  }
}

.bg-gray-900\/50.dark\:bg-gray-900\/80.fixed.inset-0.z-40{
  display: none !important;
}

// Bg Gradient
.bg-gradient {
  background: linear-gradient(to bottom, #ffffff 0%, #f9d78d27 100%);
}

.bg-gradien-2 {
  background: linear-gradient(to bottom, #f9d78d 0%, #e97652 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Style Scroll Site
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: #000;
  border: 1px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
}

// selection
::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

// Style Form Validation
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #000;
  opacity: 1;
}

// Style Owl Carousel
.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}
